@use "../colors" as *;

.section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: max(30px, 12vh) 0;
    overflow-y: hidden;
    

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(30%, 10% + 300px, 90%);
    }

    .h4-container,
    .h1-container {
        position: relative;

        .h4-hider,
        .h1-hider {
            height: 110%;
            width: 100%;
            position: absolute;
            z-index: 2;
            top: 100%;
            background: $white;
        }
    }
    .h4-container {
        z-index: 0;
        margin-bottom: max(40px, 3vh);
    }
    .h1-container {
        width: 100%;
    }
    .h1-line1 {
        z-index: 1;
    }
    .h1-line2 {
        z-index: 2;
    }
    .last-line {
        margin-bottom: max(0px, 4vh);
    }
}
