@use './colors';
@use './variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');


h1 {
    font-family: 'Playfair Display', serif;

    font-size: clamp(4.2rem, 5.4vw, 13rem);
    text-align: center;
    font-weight: 600;

}

h2 {
    font-family: 'Playfair Display', serif;

    font-size: clamp(0.2rem, 2vw, 8rem);
    font-weight: 500;
}


h4 {
    font-family: 'Playfair Display', serif;

    font-size: clamp(1rem, 1vw, 3rem);
    font-weight: 600;

}

p {
    font-family: 'Crimson Text', serif;
    font-size: clamp(1rem, 1vw , 2.5rem);
    line-height: clamp(1.9rem, 3.9vh, 10rem);
    text-align: center;
    z-index: 3;
}


.white-text {
    color: colors.$white;
}

.desktop-project-name{
    font-size: clamp(3.5rem, 4vw, 9rem);
}

.warning {
    font-family: 'Crimson Text', serif;
    font-size: clamp(0.8rem, 0.8vw, 2rem);
}


@media only screen and (min-width: var.$tablet-min) and (max-width: var.$tablet-max) {
    p {
        line-height: clamp(2rem, 3.4vw, 10rem);
    }
}