@use './styles/index.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    color: $textBlack;
    ::-webkit-scrollbar {
        width: 0 !important;
    }
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.link {
    text-decoration: none;
    color: black;
}

textarea:focus, input:focus{
    outline: none;
    border: none;
}
*:focus {
    outline: none;
}

button {
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

a {
    border: none;
    text-decoration: none;
}



body {
    margin: 0;
    padding: 0;
    color: $textBlack;
    width: 100%;
    overflow-x: hidden;
}


.app {
    width: 100vw;
    background: $white;
    display: flex;
    flex-direction: column;
}
